<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml"
 xmlns:th="http://www.thymeleaf.org">
<head>
 <meta charset="utf-8"> </meta>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"> </meta>
    <meta name="description" content=""> </meta>
    <meta name="author" content=""> </meta>
	<title>Update Penduduk</title>
    <!-- Bootstrap core CSS -->
    <link th:href="@{/webjars/bootstrap/3.3.1/css/bootstrap.min.css}" rel = "stylesheet"> </link>

    <!-- Custom styles for this template -->
  </head>

  <body>

   <nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">SI Kependudukan</a>
    </div>
    <ul class="nav navbar-nav">
      <li class="active"><a href="/">Home</a></li>
      <li><a href="/penduduk/cari">Cari Data</a></li>
      <li><a href="/penduduk/tambah">Tambah Penduduk</a></li>
      <li><a href="/keluarga/tambah">Tambah Keluarga</a></li>
    </ul>
    <form class="navbar-form navbar-left">
      <div class="input-group">
        <input type="text" class="form-control" placeholder="Search"></input>
        <div class="input-group-btn">
          <button class="btn btn-default" type="submit">
            <i class="glyphicon glyphicon-search"></i>
          </button>
        </div>
      </div>
    </form>
  </div>
</nav>
 <div class="container text-left">
<h1><b>Sukses !</b></h1>
<h3 th:text = "'Penduduk dengan NIK ' + ${penduduk.nik} + ' sudah tidak aktif'"></h3>
</div>
<script type="text/javascript" th:inline="javascript">
/*<![CDATA[*/
    var penduduk = [[${penduduk}]];
    window.onload = function() {
      setTimeout(function() {
        window.location.replace("/penduduk?nik=" + penduduk.nik);
      }, 3000);
    };
    /*]]>*/
  </script>
</body>
</html>