<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Melihat Keluarga dengan NKK</title>
    </head>
    <body>
       	<h1 th:text="'Lihat Data Keluarga - ' + ${keluarga.nomor_kk}"></h1>
       	<h3 th:text="'NKK = ' + ${keluarga.nomor_kk}"></h3>
       	<h3 th:text="'Alamat = ' + ${keluarga.alamat}"></h3>
       	<h3 th:text="'RT = ' + ${keluarga.rt}"></h3>
       	<h3 th:text="'RW = ' + ${keluarga.rw}"></h3>
       	<h3 th:text="'Kelurahan/Desa = '+ ${keluarga.nama_kelurahan}"></h3>
       	<h3 th:text="'Kecamatan = '+ ${keluarga.nama_kecamatan}"></h3>
       	<h3 th:text="'Kota = '+ ${keluarga.nama_kota}"></h3>
       	
       	<h3>Anggota Keluarga</h3>
       	<table>
	       	<tr>
	       		<th>No</th>
	       		<th>Nama Lengkap</th>
	       		<th>NIK</th>
	       		<th>Jenis Kelamin</th>
	       		<th>Tempat Lahir</th>
	       		<th>Tanggal Lahir</th>
	       		<th>Agama</th>
	       		<th>Pekerjaan</th>
	       		<th>Status Perkawinan</th>
	       		<th>Status dalam Keluarga</th>
	       		<th>Kewarganegaraan</th>
	       	</tr>
			       	
	       	<tr th:each="penduduk,iterationStatus: ${keluarga.penduduk}">	
				<td th:text="${iterationStatus.count}"></td>
				<td th:text="${penduduk.nama}"></td>
				<td th:text="${penduduk.nik}"></td>
				<td th:text="${penduduk.jenis_kelamin == 0} ? 'Laki-laki' : 'Perempuan'">Jenis Kelamin</td>
				<td th:text="${penduduk.tempat_lahir}"></td>
				<td th:text="${penduduk.tanggal_lahir}"></td>
				<td th:text="${penduduk.agama}"></td>
				<td th:text="${penduduk.pekerjaan}"></td>
				<td th:text="${penduduk.status_perkawinan}"></td>
				<td th:text="${penduduk.status_dalam_keluarga}"></td>
				<td th:text="${penduduk.is_wni} == 1 ? 'WNI' : 'WNA'"></td>
			</tr>
		</table>
    </body>
</html>

